/* Section Styling */
section {
    padding: 60px;
    opacity: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    transition: opacity 1s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.visible {
    opacity: 1;
}




