.clickable-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgb(17, 0, 0);
    margin: auto;
    text-decoration: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition */
    cursor: pointer;
    width: fit-content;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.clickable-card:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); /* Shadow gets smaller, simulating the clickable-card being pressed inward */
}

.clickable-card-transparent {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(17, 0, 0, 0.5);
    margin: auto;
    text-decoration: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition */
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For WebKit-based browsers */
    width: fit-content; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.clickable-card-transparent:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); /* Reduced shadow for press effect */
}
